# Normalize line endings
* text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Archives
*.zip binary
*.tar binary
*.gz binary

# Office files
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary