.container {
    margin: auto;
    margin-top: 100px;
    width: fit-content;
    border: 1px solid black;
    padding: 30px 20px 50px 20px;
}

.titleInfo {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.box {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 5px;
}

.btn {
    
}