.container {
    display: grid;
    grid-template-rows: max-content 100px;
    height: 100vh;
}

.titleInfo {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px -1px 10px blue;
    color: white;
    padding: 15px 30px 15px 15px;
}

.tableInfo {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    width: fit-content;
    padding: 10px;
    background-image: url(../images/khuyen-mai.png);
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px blue;
}

.textInfo {
    color: blue;
    font-weight: bold;
    text-align: right;
}

.inputInfo{

}