.container {
    display: flex;
    flex-direction: column;
    margin: 50px 10px 50px 10px;
}

.titleContainer {
    flex: 1;
    text-align: center;
}

.row-box {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column-box {
    padding: 50px;
    width: 359px;
    float: left;
}

.button {
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

.titleInfo {
    font-size: 20px;
    font-weight: bold;
}

.noteInfo {
    font-style: italic;
}